<configuration>
    <configSections>
        <section name="autoscalingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.WindowsAzure.Autoscaling.Configuration.AutoscalingSettings, Microsoft.Practices.EnterpriseLibrary.WindowsAzure.Autoscaling, Version=5.0.1118.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
        <section name="typeRegistrationProvidersConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.TypeRegistrationProvidersConfigurationSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </configSections>
    <autoscalingConfiguration dataPointsStoreAccount="DefaultEndpointsProtocol=https;AccountName=[StorageAccountName];AccountKey=[Key]"
        ruleEvaluationRate="00:01:00" loggerName="System Diagnostics Logger"
        rulesStoreName="Local File Rules Store" serviceInformationStoreName="Local File Service Information Store">
        <loggers>
            <add name="System Diagnostics Logger" type="Microsoft.Practices.EnterpriseLibrary.WindowsAzure.Autoscaling.Logging.SystemDiagnosticsLogger, Microsoft.Practices.EnterpriseLibrary.WindowsAzure.Autoscaling, Version=5.0.1118.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        </loggers>
        <rulesStores>
            <add name="Local File Rules Store" type="Microsoft.Practices.EnterpriseLibrary.WindowsAzure.Autoscaling.Rules.Configuration.LocalXmlFileRulesStore, Microsoft.Practices.EnterpriseLibrary.WindowsAzure.Autoscaling, Version=5.0.1118.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                filename="rules.xml" />
        </rulesStores>
        <serviceInformationStores>
            <add name="Local File Service Information Store" type="Microsoft.Practices.EnterpriseLibrary.WindowsAzure.Autoscaling.ServiceModel.Configuration.LocalXmlFileServiceInformationStore, Microsoft.Practices.EnterpriseLibrary.WindowsAzure.Autoscaling, Version=5.0.1118.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                filename="services.xml" />
        </serviceInformationStores>
        <advancedOptions>
            <serviceManagementRequestTracker trackServiceManagementRequests="false"
                storageAccount="UseDevelopmentStorage=true" trackingRate="00:05:00" />
            <executionLease useBlobExecutionLease="true" blobExecutionLeaseStorageAccount="UseDevelopmentStorage=true" />
        </advancedOptions>
    </autoscalingConfiguration>
    <typeRegistrationProvidersConfiguration>
        <clear />
        <add name="Caching" sectionName="cachingConfiguration" />
        <add name="Cryptography" sectionName="securityCryptographyConfiguration" />
        <add name="Exception Handling" sectionName="exceptionHandling" />
        <add name="Instrumentation" sectionName="instrumentationConfiguration" />
        <add name="Logging" sectionName="loggingConfiguration" />
        <add name="Policy Injection" sectionName="policyInjection" />
        <add name="Security" sectionName="securityConfiguration" />
        <add name="Data Access" providerType="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSyntheticConfigSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
        <add name="Validation" providerType="Microsoft.Practices.EnterpriseLibrary.Validation.Configuration.ValidationTypeRegistrationProvider, Microsoft.Practices.EnterpriseLibrary.Validation" />
        <add sectionName="autoscalingConfiguration" name="autoscalingConfiguration" />
    </typeRegistrationProvidersConfiguration>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.WindowsAzure.StorageClient" publicKeyToken="31bf3856ad364e35" culture="neutral" />
          <bindingRedirect oldVersion="1.1.0.0" newVersion="1.7.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.WindowsAzure.StorageClient" publicKeyToken="31bf3856ad364e35" culture="neutral" />
          <publisherPolicy apply="no" />
        </dependentAssembly>
      </assemblyBinding>
    </runtime>

  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="Autoscaling General"
              switchName="SourceSwitch"
              switchType="System.Diagnostics.SourceSwitch" >
        <listeners>
          <add name="console" />
          <add name="file" />
        </listeners>
      </source>
      <source name="Autoscaling Updates"
              switchName="SourceSwitch"
              switchType="System.Diagnostics.SourceSwitch" >
        <listeners>
          <add name="console" />
          <add name="file" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose"/>
      </add>
      <add name="file" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Logs\ConsoleAutoscaler.log">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose"/>
      </add>
    </sharedListeners>
    <switches>
      <add name="SourceSwitch"
          value="Verbose, Information, Warning, Error, Critical" />
    </switches>
  </system.diagnostics>
</configuration>
